@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
h2{
    font-family: 'Georama', sans-serif;
    color: white;
    margin-top: 0.5em;
    text-align: center;
}
button {
    margin-top: 0.5em;
    border-radius: .25em;
    font-size: 1.2em;
    color:#242b5e;
    background-color: whitesmoke;
    border: 2px solid #555555;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
body {
    background-color: #242b5e;
}
hr{
    border-top: 8px #bbb;
}
.button:hover {
    background-color: #555555;
    color: white;
}